.image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.image-container h2 {
    font-size: 40px;
    text-align: center;
    letter-spacing: -3px;
    font-weight: 600;
}

.image-container h3 {
    font-size: 20px;
    font-weight: 500;
}

.image-container img{
    filter: invert(90%);
    width: 100%;
    height: 400px;
    padding: 80px;
    background-color: rgb(255, 255, 255);
}
