.section{
    display: flex;
    flex-direction: column;
    border: none;
    max-width: 340px;
}

.section-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px; 
    
}

.cards-subsection{
    display: flex;
    border: none;
}

.carrousel{
    overflow: hidden;
    cursor: grab;
}

.inner {
    user-select: none;
    -webkit-user-drag: none;
}

.inner img {
    pointer-events: none;
    user-select: none;
}