.section{
    display: flex;
    flex-direction: column;
    border: none;
    max-width: 340px;
}

.section-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px; 
    
}

.cards-subsection{
    display: flex;
    border: none;
}

.carrousel{
    overflow: hidden;
}

.inner {
    user-select: none;
    -webkit-user-drag: none;
}

.inner img {
    pointer-events: none;
    cursor: grab;
    user-select: none;
}

.gender-btn{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: rgba(219, 218, 218, 0.521);
}

.gender-btn:hover{
    background-color: black;
    color: white;
}