.image-banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.show-products-btn{
    width: 160px;
    padding: 20px;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.show-products-btn p{
    background-color: transparent;
    padding: 0;
    margin: 0;
}