.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container h2 {
    font-size: 32px;
}

.image-container h3 {
    font-size: 16px;
}

.image-container img{
    filter: invert(90%);
    box-shadow: 1px 1px 100px rgb(229, 229, 229);
    width: 100%;
    height: 600px;
    padding: 80px;
    background-color: rgb(255, 255, 255);
}

