.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
    width: 100%;
    border: none !important;
    cursor: grab;
}

.card div {
    width: 100%;
}

.best-seller .img-card-best-seller{
    height: 486px;
    width: 100%;
} 

.best-seller > div{
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.198);
}

.best-seller h2{
    margin-top: 30px;
    font-size: 16px;
}

.best-seller p{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-top: 2px;
}

.best-seller .price{
    font-weight: 300;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.499);
}

.best-seller .solds{
    font-size: 14px;
    font-weight: 500;
    text-align: end;
}

.discount{
    position: relative;
    bottom: 596px;
    display: inline;
    padding: 5px;
    background-color: rgba(234, 234, 234, 0.015);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.506);
}

.card-category > .img-card-category{
    width: 370px;
    height:680px;
    object-fit: cover;
    transition: width 0.3s, height 0.3s;
}

.card div > h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.card > div > button{
    border: none;
    padding: 12px 22px 12px 22px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 10px;
}

