.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
    width: 100%;
    border: none !important;
    cursor: grab;
}

.card div {
    width: 102%;
}

.best-seller .img-card-best-seller{
    height: 486px;
    width: 100%;
    object-fit: cover;
} 

.best-seller > div{
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.198);
}

.best-seller h2{
    margin-top: 30px;
    font-size: 16px;
}

.best-seller p{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-top: 2px;
}

.best-seller .price{
    font-weight: 300;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.499);
}

.best-seller .solds{
    font-size: 14px;
    font-weight: 500;
    text-align: end;
}

.discount{
    position: relative;
    bottom: 596px;
    display: inline;
    font-weight: 700;
    font-size: 14px;
    color: rgb(3, 3, 3);
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.482);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.316);
}

.card-category > .img-card-category{
    width: 370px;
    height: 712px;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.card-category:hover > .img-card-category {
    transform: scale(1.01);
    border-radius: 6px;
}

.card div > h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.card > div > button{
    border: 0.5px solid rgba(0, 0, 0, 0.288);
    padding: 12px 22px 12px 22px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 10px;
}

.card > div > button:hover{
    background-color: black;
    color: white;
    border: none;
}
