.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
    width: 340px;
    border: none !important;
    cursor: grab;
}

.card > .priceAndSold {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.card .price{
    padding: 10px 10px 10px 10px;
    background-color: transparent;
}

.card .solds{
    background-color: transparent;
}

.card-category > .img-card-category{
    width: 330px;
    height: 600px;
    object-fit: cover;
    display: block;
}

.card-best-seller > .best-seller,
.card-best-seller > img {
    width: 330px;
    height: 400px;
    object-fit: cover;
    display: block;
}

.card-default > img {
    width: 330px;
    height: 400px;
    object-fit: cover;
    display: block;
}

.card > h2{
    margin-top: 20px;
    font-size: 18px;
    min-height: 50px;
}

.card div {
    width: 100%;
}

.card div > h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.card > div > button{
    border: none;
    padding: 12px 22px 12px 22px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 10px;
}

