.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
    width: 370px;
    border: none !important;
}

.card > h3{
    margin-top: 60px;
    font-size: 18px;
}