.size-button{
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-size: 12px;
    padding: 22px;
    border: 0.1px solid rgba(183, 183, 183, 0.352);
    color:rgb(0, 0, 0);
}

.size-button.active{
    background-color: black;
    color: white;
}
.size-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}