footer{
    margin: 50px 0px 0px 0px;
}

footer > ul{
    margin: 0px 0px 80px 0px;
    padding: 0;
}

li{
    list-style: none;
    padding: 0px;
    margin: 30px 40px 0px 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.688);
}

li > a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

div > p {
    background-color: transparent;
    text-align: justify;
    margin: 30px;
}