h2{
    font-family: 'Geologica', sans-serif ;

}
.product-image-catalog:hover{
    transform: scale(1.008);
    transition: 0.3s ease;
}

.gender-btn{
    font-family: 'Geologica', sans-serif;
    font-weight: medium;
    padding: 12px;
    font-size: 17px;
    width: 180px;
    border-radius: 40px;
    transition: 0.2s ease;
}

.gender-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.gender-btn:active{
    background-color: black;
    color: white;
}

.gender-btn:focus{
    background-color: black;
    color: white;
}

.gender-btn.active{
    background-color: black;
    color: white;
}
