.section-root{
    margin-left: 30px;
}

.section{
    display: flex;
    flex-direction: column;
    border: none;
    max-width: 360px;

}

.section-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.cards-subsection{
    display: flex;
    border: none;
    gap: 20px;
}

.carrousel{
    overflow: hidden;
}

.inner {
    user-select: none;
    -webkit-user-drag: none;
    display: flex;
}

.inner img {
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.gender-btn{
    padding: 10px 28px 10px 28px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    border: none;
    border: 0.5px solid rgba(0, 0, 0, 0.288);
    transition: 0.3s ease;
}

.gender-btn.active{
    background-color: black;
    color: white;
}

.gender-btn:hover{
    background-color: black;
    color: white;
}