@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Montserrat";

}