header{
    margin: 20px;
}

#header-search-field{
    padding: 6px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.451);
}


img{
    height: auto;
    width:26px;
    object-fit: contain;
}

header > img{
    width: 46px;
}