ul > li > a{
    position: relative;
}

ul > li > a::after{
    content: "";
    background-color: black;
    height: 1px;
    width: 0%;
    bottom: -1px;
    left: 0;
    margin-top: 1px;
    position: absolute;
    transition: ease-out 0.5s;
}

ul > li >a:hover::after{
    width: 100%;
}

ul > li > a{
    color: rgba(0, 0, 0, 0.77);
}

ul > li > a:hover{
    color: black;
    font-weight: 500;
}

.header-spacer {
    transition: height 300ms ease;
    height: 105px;
}

@media (min-width: 1024px) {
    .header-spacer {
        height: 115px;
    }
}

.header-spacer--collapsed {
    height: 60px;
}

@media (min-width: 1024px) {
    .header-spacer--collapsed {
        height: 68px;
    }
}